
build/.DS_Store
build/generated/.DS_Store
build/generated/sources/.DS_Store
build/generated/sources/headers/.DS_Store
build/generated/sources/headers/java/.DS_Store
build/resources/.DS_Store
build/test-results/.DS_Store
build/test-results/test/.DS_Store
build/tmp/.DS_Store
src/.DS_Store
src/main/.DS_Store
src/test/.DS_Store
src/test/java/.DS_Store
src/test/resources/.DS_Store
